@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
h1, h2 {
	font-size: 50px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
p{
	color: dimgray;
	margin-top: 10px;
}
span{
	margin-top: 10px;
	display: inline-block;
}
section{
	height: 600px;
}
.btn{
	text-transform: uppercase;
	color: #ffffff;
	background:#F87C62;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 10px;
	text-decoration: none;
}

.half-width{
	width: 40%;
	float: left;
	margin-left:5%;
	padding-left: 2%;
}
img {
    width: 100%;
    margin-top: 5%;
}
#hero-section{
	background: url("images/top-banner.png") no-repeat;

}
#hero-section .img-ctrl{
	width: 80%!important;
}
span.orange-highlight{
	color: orange;
}

#hero-section .left-area{
	margin-top: 100px;
}
#dream-area{
	background: url("images/dream-bg.png") no-repeat;
	background-position: right top;
}
#dream-area .text-ctrl {
    margin-top: 10%;
}
#dream-area .text-ctrl h3 {
    margin-top: 20px;
}
#dream-area .text-ctrl p {
    margin-top: 15px;
}
#experience-area{
	background: url("images/exp-bg.png") no-repeat;
	background-position: left center;

}
#experience-area .box-wrap-left {
	border-left: 7px solid;
	border-image: linear-gradient(180deg, salmon, tomato);
	border-image-slice: 1;
    padding-left: 15px;
    margin-top: 20px;
    padding: 30px;
	box-shadow: 10px 10px 40px grey;
	height: 250px;
	background-color: #fff;
}
#experience-area .box-wrap-right {
	border-left: 7px solid;
	border-image: linear-gradient(180deg, blue, #23BEDD);
	border-image-slice: 1;
    padding-left: 15px;
    margin-top: 20px;
    padding: 30px;
	box-shadow: 10px 10px 40px grey;
	height: 250px;
}
footer{
	text-align: center;
	padding-bottom: 30px;
}
footer span{
	color: dimgray;
	text-align:center
}
